:root {
  --primary-color: #6e26b1;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h6 {
  color: #b12693;
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-top: 50px;
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-image {
  flex: 1;
  max-width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.teko-developer {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 900px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    padding-right: 0;
  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
  }

  .hero-image img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
footer{text-align:right;
opacity: 60%;}


.index-footer {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 10px 20px;
  opacity: 60%;
  
}

